# Code owners are automatically assigned to review PRs
#
# Later rules override earlier rules.

# CICD
.github/          @Crypto2099 
nix/              @Crypto2099 

# Haskell components
command-line/     @paweljakubas
core/             @paweljakubas

# JavaScript interface
jsapi/            @Crypto2099
jsbits/           @Crypto2099
