module "Cardano.Address" {
  tick function "showsPrec" [Show instance];
  tick function "compare" [Ord instance];
  tick function "==" [Eq instance];
  inside "invariantSize" {
    tick "otherwise" [Invariant];
  }
  inside "invariantNetworkTag" {
    tick "otherwise" [Invariant];
  }
  tick "slotNum" [Record Accessor"];
  tick "transactionIndex" [Record Accessor"];
  tick "outputIndex" [Record Accessor"];
}

module "Cardano.Address.Derivation" {
  tick function "showsPrec" [Show instance];
  tick function "compare" [Ord instance];
  tick function "==" [Eq instance];
  tick "getIndex" [Record Accessor];
}

module "Cardano.Address.Errors" {
  tick function "showsPrec" [Show instance];
}

module "Cardano.Address.Style.Byron" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
  tick "()" [Never evaluated];
  inside "hdPassphrase" {
    tick "SHA512" [Never evaluated];
  }
  tick function "paymentAddress" [Re-Export];
  tick function "deriveAddressPrivateKey" [Re-export];
  tick function "deriveAccountPrivateKey" [Re-export];
  tick function "genMasterKeyFromXPrv" [Re-export];
  tick function "genMasterKeyFromMnemonic" [Re-export];
}

module "Cardano.Address.Style.Icarus" {
  tick function "showsPrec" [Show instance];
  tick function "=="  [Eq instance];
  tick function "compare" [Ord instance];

  tick function "paymentAddress" [Re-Export];
  tick function "deriveAddressPrivateKey" [Re-export];
  tick function "deriveAddressPublicKey" [Re-export];
  tick function "deriveAccountPrivateKey" [Re-export];
  tick function "genMasterKeyFromXPrv" [Re-export];
  tick function "genMasterKeyFromMnemonic" [Re-export];

  inside "unsafeGenerateKeyFromHardwareLedger" {
    tick "(error \"pruneBuffer: no first byte\")" [Invariant];
    tick "(error \"pruneBuffer: no last byte\")" [Invariant];
    tick "(Left \"invalid xprv\")" [Invariant];
    tick "error" [Invariant];
    tick "SHA512" [Never evaluated];
  }
}

module "Cardano.Address.Style.Shelley" {
  tick function "showsPrec" [Show instance];
  tick function "=="  [Eq instance];
  tick function "compare" [Ord instance];

  tick function "paymentAddress" [Re-Export];
  tick function "delegationAddress" [Re-Export];
  tick function "deriveStakingPrivateKey" [Re-export];
  tick function "deriveAddressPrivateKey" [Re-export];
  tick function "deriveAddressPublicKey" [Re-export];
  tick function "deriveAccountPrivateKey" [Re-export];
  tick function "genMasterKeyFromXPrv" [Re-export];
  tick function "genMasterKeyFromMnemonic" [Re-export];

  inside "hashSize" {
    tick "Blake2b_224" [Never evaluated];
  }
}

module "Cardano.Address.Style.Jormungandr" {
  tick function "showsPrec" [Show instance];
  tick function "=="  [Eq instance];
  tick function "compare" [Ord instance];

  tick function "paymentAddress" [Re-Export];
  tick function "delegationAddress" [Re-Export];
  tick function "deriveStakingPrivateKey" [Re-export];
  tick function "deriveAddressPrivateKey" [Re-export];
  tick function "deriveAddressPublicKey" [Re-export];
  tick function "deriveAccountPrivateKey" [Re-export];
  tick function "genMasterKeyFromXPrv" [Re-export];
  tick function "genMasterKeyFromMnemonic" [Re-export];
}

module "Cardano.Mnemonic" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
  tick "Proxy" [Never evaluated];
  tick "(Proxy :: Proxy n)" [Never evaluated];
  tick "(Proxy :: Proxy rest)" [Never evaluated];
  tick "(Proxy :: Proxy mw)" [Never evaluated];
  tick "(Proxy :: Proxy (mw ': rest))" [Never evaluated];

  inside "genEntropy" {
    tick "(throwM . UnexpectedEntropyError)" [Invariant];
  }
}

module "Codec.Binary.Encoding" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
}

module "Data.Word7" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
}

module "Cardano.Codec.Cbor" {
  inside "encryptDerivationPath" {
    tick "error" [Invariant];
  }
}
