module "Command" {
  tick function "showsPrec" [Show instance];
}

module "Command.RecoveryPhrase" {
  tick function "showsPrec" [Show instance];
}

module "Command.RecoveryPhrase.Generate" {
  tick function "showsPrec" [Show instance];
  tick "size" [Record Accessor];
}

module "Command.Key" {
  tick function "showsPrec" [Show instance];
}

module "Command.Key.FromRecoveryPhrase" {
  tick function "showsPrec" [Show instance];
  tick "encoding" [Record Accessor];
  tick "style" [Record Accessor];
}

module "Command.Key.Child" {
  tick function "showsPrec" [Show instance];
  tick "encoding" [Record Accessor];
  tick "scheme" [Record Accessor];
  tick "path" [Record Accessor];
}

module "Command.Key.Public" {
  tick function "showsPrec" [Show instance];
  tick "encoding" [Record Accessor"];
}

module "Command.Key.Inspect" {
  tick function "showsPrec" [Show instance];
}

module "Command.Address" {
  tick function "showsPrec" [Show instance];
}

module "Command.Address.Bootstrap" {
  tick function "showsPrec" [Show instance];
  tick "rootXPub" [Record Accessor];
  tick "derivationPath" [Record Accessor];
  tick "networkTag" [Record Accessor];
}

module "Command.Address.Payment" {
  tick function "showsPrec" [Show instance];
  tick "networkTag" [Record Accessor];
}

module "Command.Address.Delegation" {
  tick function "showsPrec" [Show instance];
  tick "xpub" [Record Accessor];
}

module "Command.Address.Pointer" {
  tick function "showsPrec" [Show instance];
  tick "slotNum" [Record Accessor];
  tick "transactionIndex" [Record Accessor];
  tick "outputIndex" [Record Accessor];
}

module "Command.Address.Inspect" {
  tick function "showsPrec" [Show instance];
}

module "Command.Address.Reward" {
  tick function "showsPrec" [Show instance];
  tick "networkTag" [Record Accessor];
}

module "Command.Script" {
  tick function "showsPrec" [Show instance];
}

module "Command.Script.Hash" {
  tick function "showsPrec" [Show instance];
}

module "Options.Applicative.Derivation" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
  tick function "succ" [Enum instance];
  tick function "compare" [Ord instance];
}

module "Options.Applicative.MnemonicSize" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
  tick function "succ" [Enum instance];
}

module "Options.Applicative.Style" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
  tick function "succ" [Enum instance];
}

module "Options.Applicative.Public" {
  tick function "showsPrec" [Show instance];
  tick function "==" [Eq instance];
}

module "Paths_cardano_addresses_cli" {
  tick;
}
